@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
    :root {
      --background: 212 44% 99%;
      --foreground: 212 74% 2%;
      --muted: 36 21% 86%;
      --muted-foreground: 36 8% 32%;
      --popover: 212 44% 99%;
      --popover-foreground: 212 74% 2%;
      --card: 212 44% 99%;
      --card-foreground: 212 74% 2%;
      --border: 212 10% 89%;
      --input: 212 10% 89%;
      --primary: 212 100% 27%;
      --primary-foreground: 212 100% 87%;
      --secondary: 36 92% 58%;
      --secondary-foreground: 36 92% 12%;
      --accent: 36 80% 45%;
      --accent-foreground: 0 0% 100%;
      --destructive: 3 88% 22%;
      --destructive-foreground: 3 88% 82%;
      --ring: 212 100% 27%;
      --chart-1: 212 100% 27%;
      --chart-2: 36 92% 58%;
      --chart-3: 36 80% 45%;
      --chart-4: 36 92% 38%;
      --chart-5: 212 103% 27%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 212 44% 4%;
      --foreground: 212 30% 99%;
      --muted: 36 21% 14%;
      --muted-foreground: 36 8% 68%;
      --popover: 212 44% 4%;
      --popover-foreground: 212 30% 99%;
      --card: 212 44% 4%;
      --card-foreground: 212 30% 99%;
      --border: 212 10% 13%;
      --input: 212 10% 13%;
      --primary: 212 100% 27%;
      --primary-foreground: 212 100% 87%;
      --secondary: 36 92% 58%;
      --secondary-foreground: 36 92% 12%;
      --accent: 36 80% 45%;
      --accent-foreground: 0 0% 100%;
      --destructive: 3 88% 53%;
      --destructive-foreground: 0 0% 100%;
      --ring: 212 100% 27%;
      --chart-1: 212 100% 27%;
      --chart-2: 36 92% 58%;
      --chart-3: 36 80% 45%;
      --chart-4: 36 92% 38%;
      --chart-5: 212 103% 27%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
